* {
  margin: 0;
  padding: 0;
}
body {
  margin-top: 20px;
  background: #f8f8f8;
}
.todo-item {
  padding: 5px;
  margin: 5px 0;
  border-radius: 0;
  background: #f7f7f7;
}
input[type="checkbox"]:checked + label.strikethrough {
  text-decoration: line-through;
}
input.check {
  width: 15px;
  height: 15px;
}
.strikethrough {
  padding-left: 10px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  margin-right: auto;
}
